h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#expenses{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


table, th, td{
  box-sizing: content-box;
  padding: 8px;
  margin-top: 50px;
  border: 1px solid;
}



#table{
  align-items: center;
  background-color: antiquewhite;
  margin-left: 450px;
  margin-right: 450px;
  border: 1px solid;
}



#expense-name{
    margin-right: 20px;
    padding: 8px;
    box-sizing: border-box;
}

#amount{
    margin-right: 20px;
    padding: 8px;
    box-sizing: border-box;
}

